.Projects {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    background-color: white;
    padding: 100px 0px;

    &List {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
        flex-wrap: wrap;
    }

    &Controls {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        margin-top: 25px;

        &>a {
            color: #19293A;
            border-bottom: 1px solid #19293A;
            font-size: 20px;
            font-weight: 500;
            padding-bottom: 5px;
            overflow: visible;
            margin-bottom: 5px;

            &:hover {
                &::after {
                    transform: scaleX(1);
                }
            }

            &::after {
                content: '';
                height: 3px;
                background-color: #C34465;
                position: absolute;
                bottom: -2px;
                width: 100%;
                transform: scaleX(0);
                left: 0px;
                transition: .25s;
                transform-origin: center;
            }
        }

        &Buttons {
            button {
                background-color: #19293A;
                color: white;
                width: 65px;
                height: 65px;
                display: flex;
                justify-content: center;
                flex-direction: row;
                align-items: center;
                margin-right: 25px;
                font-size: 20px;
                cursor: pointer;
                transition: .25s;

                &:hover,
                &:active {
                    background-color: #50647380;
                    color: #506473;
                }
            }
        }
    }

    &Tabs {
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        max-width: calc(190px * 4);
        overflow: visible;
        margin-bottom: 50px;

        &Line {
            position: absolute;
            height: 3px;
            background-color: #C34465;
            position: absolute;
            bottom: -1px;
            width: 25%;
            left: 0;
            transition: .25s;

            @media only screen and (max-width: 1100px) {
                display: none;
            }
        }

        button {
            color: #19293A;
            border-bottom: 1px solid #19293A;
            font-size: 20px;
            font-weight: 500;
            padding-bottom: 5px;
            background-color: transparent;
            width: 25%;
            overflow: visible;
            cursor: pointer;

            @media only screen and (max-width: 1100px) {
                width: 100%;
                padding: 15px 0px;
                text-align: left;
                border-bottom: 0px;
                transition: .25s;

                &.Active {
                    color: #C34465
                }
            }
        }
    }

    &Info {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        max-width: 1250px;

        &Inner {
            width: 100%;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: flex-start;
            padding: 0px 25px;

            b {
                color: #C0345E;
                text-transform: uppercase;
                font-size: 16px;
                width: 100%;
                font-weight: 500;
            }

            h1 {
                font-size: 48px;
                color: #19293A;
                width: 100%;
                line-height: 1;
                font-family: 'Title';
                padding: 0px 0px 50px 0px;

                span {
                    width: 100%;
                    float: left;
                    color: #506473;
                }
            }

            &>p {
                color: #506473;
                font-size: 21px;
                max-width: 415px;
                width: 100%;
            }
        }
    }
}