.Footer {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #EDEFF1;
    padding: 100px 25px 0px;

    &Inner {
        width: 100%;
        max-width: 1400px;
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
    }

    &Lower {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: row;
        margin-top: 100px;
        margin-bottom: 50px;

        &Inner {
            width: 1400px;
            display: flex;
            justify-content: center;
            flex-direction: row;
            align-items: center;
            flex-wrap: wrap;

            p {
                font-size: 21px;
                color: #50647380;
                font-weight: 600;
                flex: 1;

                @media only screen and (max-width: 650px) {
                    width: 100%;
                    flex: unset;
                    text-align: center;
                    margin-bottom: 15px;
                }
            }

            a {
                display: flex;
                flex-direction: row;
                justify-content: center;
                font-size: 32px;
                margin-left: 25px;
                color: #9EA9B1;

                @media only screen and (max-width: 650px) {
                    margin: 0px 15px;
                }
            }
        }
    }

    &Info {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
        max-width: 700px;

        @media only screen and (max-width: 1350px) {
            max-width: 500px;
        }

        @media only screen and (max-width: 1150px) {
            max-width: unset;
        }

        @media only screen and (max-width: 650px) {
            flex-wrap: wrap;
        }

        &:last-of-type {
            flex: 1;
            max-width: unset;

            @media only screen and (max-width: 1100px) {
                flex: unset;
                margin-top: 50px;
            }
        }

        &Inner {
            width: 100%;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: flex-start;

            b {
                color: #C0345E;
                text-transform: uppercase;
                font-size: 16px;
                width: 100%;
                font-weight: 500;
            }

            h1 {
                font-size: 48px;
                color: #19293A;
                width: 100%;
                line-height: 1;
                font-family: 'Title';
                padding: 0px 0px 50px 0px;

                span {
                    width: 100%;
                    float: left;
                    color: #506473;
                }
            }

            p {
                color: #506473;
                font-size: 21px;
                max-width: 415px;
                width: 100%;
            }

            a {
                margin-top: 50px;
                color: #19293A;
                border-bottom: 1px solid #19293A;
                font-size: 20px;
                font-weight: 500;
                padding-bottom: 5px;
                overflow: visible;
                margin-bottom: 5px;

                &:hover {
                    &::after {
                        transform: scaleX(1);
                    }
                }

                &::after {
                    content: '';
                    height: 3px;
                    background-color: #C34465;
                    position: absolute;
                    bottom: -2px;
                    width: 100%;
                    transform: scaleX(0);
                    left: 0px;
                    transition: .25s;
                    transform-origin: center;
                }
            }
        }

        ul {
            @media only screen and (max-width: 650px) {
                width: 100%;
                margin-bottom: 50px;
            }

            li {
                width: 100%;
                font-size: 21px;
                color: #506473;
                margin-bottom: 25px;

                a {
                    display: flex;
                    justify-content: flex-start;
                    flex-direction: row;
                    align-items: center;
                    width: 100%;
                    flex-wrap: wrap;

                    span {
                        font-weight: 600;
                        width: 100%;
                    }

                    small {
                        font-weight: normal;
                        width: 100%;
                        font-size: 21px;
                    }
                }

                &:hover {
                    i {
                        opacity: 1;
                        margin-left: 25px;
                    }
                }

                i {
                    opacity: 0;
                    transition: .25s;
                    margin-left: 15px;
                }

                &:last-of-type {
                    margin-bottom: 0px;
                }

                b {
                    width: 100%;
                    font-family: 'Title';
                    font-weight: 500;
                    color: #19293A;
                    text-transform: uppercase;
                }
            }
        }
    }
}